<ngx-hm-carousel
  [autoplay-speed]="5000"
  [autoplay]="true"
  [infinite]="true"
  [align]="left"
  [between-delay]="2000"
  class="carousel c-accent">
 
  <section ngx-hm-carousel-container class="content">
    <article class="item cursor-pointer"
      *ngFor="let item of data"
      ngx-hm-carousel-item>
      <div class="img"
        [style.backgroundImage]="'url('+item.url+')'">
      </div>
    </article>
  </section>
 
  <ng-template #carouselDot let-model>
    <div class="ball bg-accent"
      [class.visible]="model.index === model.currentIndex"></div>
  </ng-template>
 
  <ng-template #carouselProgress let-model>
      <div class="progress" [style.width]="model.progress + '%'"></div>
  </ng-template>
 
</ngx-hm-carousel>